
CREATE OR REPLACE FUNCTION update_product_rating()
RETURNS TRIGGER AS $$
BEGIN
  IF TG_OP = 'INSERT' OR TG_OP = 'UPDATE' THEN
    UPDATE products
    SET rating = (
      SELECT COALESCE(ROUND(AVG(rating)::numeric, 1), 5.0)
      FROM reviews
      WHERE product_id = NEW.product_id AND active = true
    )
    WHERE id = NEW.product_id;
  ELSIF TG_OP = 'DELETE' THEN
    UPDATE products
    SET rating = (
      SELECT COALESCE(ROUND(AVG(rating)::numeric, 1), 5.0)
      FROM reviews
      WHERE product_id = OLD.product_id AND active = true
    )
    WHERE id = OLD.product_id;
  END IF;
  RETURN NULL;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS trigger_update_product_rating ON reviews;
CREATE TRIGGER trigger_update_product_rating
AFTER INSERT OR UPDATE OR DELETE ON reviews
FOR EACH ROW EXECUTE FUNCTION update_product_rating();

